#homepage {
    background-color: var(--background-color);
}

/* Landscape Section */

.homepage__landscape--container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 85vh;
    overflow: hidden;
    position: relative;
}

.landscape__video--container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.landscape-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 75%;
}

.homepage__title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    text-align: center;
}

@media (max-width: 768px) {
    .homepage__title {
        max-width: 350px;
        width: 100%;
    }
}

/* Mission Statement Section */

.homepage__missionStatement--container {
    margin: 10% auto;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.missionStatement--Title {
    text-align: center;
    margin: 5% auto;
}

.missionStatement--para {
    max-width: 75%;
    margin: 5% auto;
    text-align: center;
}

.missionStatement--btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 42px auto;
    text-align: center;
    background-color: var(--accent-color);
    max-width: fit-content;
    padding: 10px 20px;
    border-radius: 25px;
    cursor: pointer;
    outline: none;
    font-family: var(--font-family-h4);
    font-size: var(--font-size-h4);
    color: var(--color-h4);
}

/* Services Section */

.homepage__services--container {
    margin: 10% auto;
    max-width: 75%;
}

.homepage__services--title {
    text-align: center;
    margin-bottom: 10%;
}

.homepage__service--container {
    line-height: 2;
}

.homepage__service--heading {
    display: flex;
    justify-content: space-between;
}

.homepage__service--desc {
    margin-left: 5%;
}

/* Team Section */

.homepage__meetTheTeam--container {
    position: relative;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    display: flex;
    gap: 5%;
    z-index: 0;
}


.meetTheTeam--title {
    margin: 5% auto;
}

.barber__card--wrapper {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch    ;
    gap: 5%;
    margin: auto;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.barber__card--container {
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2%;
    background-color: var(--accent-color) !important;
    overflow: hidden;
    border-radius: 15px;
    transition: width 0.3s ease;
    margin: 0 auto;
}

.barber__card--img {
    width: 100%;
    height: 300px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.barber__card--img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    aspect-ratio: 1/1;
}

.barber__card--name {
    text-align: center;
}

.barber__card--desc {
    margin: 5% auto;
}

@media screen and (max-width: 1100px) {
    .barber__card--wrapper {
        grid-template-columns: repeat(2, 1fr);
    }

    .barber__card--container {
        margin: 0 auto;
    }
}

@media screen and (max-width: 768px) {
    .barber__card--wrapper {
        grid-template-columns: repeat(1, 1fr);
    }

    .barber__card--container {
        margin: 0 auto;
    }

}

/* Gallery Section */

.homepage__gallery--container {
    margin: 10% auto;
    text-align: center;
    max-width: 1200px;
}

.homepage__gallery--title {
    margin: 5% auto;
}

.gallery__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
}

.gallery__card--container {
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    aspect-ratio: 1 / 1;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.gallery__card--container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.gallery__card--container:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

@media screen and (max-width: 1024px) {
    .gallery__grid {
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
    }

    .homepage__title {
        text-align: center;
        font-size: 48px;
    }
}

@media screen and (max-width: 768px) {
    .gallery__grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Info Section */

.homepage__info--container {
    margin: 10% auto;
    max-width: 1200px;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

.info__sections {
    flex: 1;
}

.info__sections--title {
    margin: 5% auto;
}

.info__secitons--info {
    line-height: 1.5;
}

@media screen and (max-width: 768px) {
    .homepage__title {
        text-align: center;
        font-size: 48px;
    }

    h2 {
        font-size: 36px;
    }

    h4 {
        font-size: 30px;
    }

    h5 {
        font-size: 20px;
    }

    p {
        font-size: 18px;
    }

    .homepage__info--container {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 25px;
    }

    .info__sections {
        width: 100%;
        max-width: 500px;
    }
}