#homepage {
    background-color: var(--background-color);
}

/* Landscape Section */

.homepage__landscape--container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 85vh;
    overflow: hidden;
    position: relative;
}

.landscape__video--container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.landscape-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.homepage__title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}


/* Mission Statement Section */

.homepage__missionStatement--container {
    margin: 10% auto;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.missionStatement--Title {
    text-align: center;
    margin: 5% auto;
}

.missionStatement--para {
    max-width: 75%;
    margin: 5% auto;
    text-align: center;
}

.missionStatement--btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5% auto;
    text-align: center;
    background-color: var(--accent-color);
    max-width: fit-content;
    padding: 10px 20px;
    border-radius: 25px;
    cursor: pointer;
    outline: none;
    font-family: var(--font-family-h4);
    font-size: var(--font-size-h4);
    color: var(--color-h4);
}

/* Services Section */

.homepage__services--container {
    margin: 10% auto;
    max-width: 75%;
}

.homepage__services--title {
    text-align: center;
}

.homepage__service--container {
    line-height: 2;
}

.homepage__service--heading {
    display: flex;
    justify-content: space-between;
}

.homepage__service--desc {
    margin-left: 5%;
}

/* Team Section */

.homepage__meetTheTeam--container {
    position: relative;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    display: flex;
    overflow: hidden;
    align-items: stretch;
    gap: 5%;
    z-index: 0;
}


.meetTheTeam--title {
    margin: 5% auto;
}

.barber__card--wrapper {
    display: flex;
    flex: wrap;
    justify-content: center;
    align-items: stretch    ;
    gap: 5%;
}

.barber__card--container {
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2%;
    background-color: var(--accent-color) !important;
    overflow: hidden;
    border-radius: 15px;
}

.barber__card--img {
    width: 100%;
    height: 300px;
    overflow: hidden;
}

.barber__card--img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.barber__card--name {
    text-align: center;
}

.barber__card--desc {
    margin: 5% auto;
}


/* Gallery Section */

.homepage__gallery--container {
    margin: 10% auto;
    text-align: center;
    max-width: 1200px;
}

.gallery__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}

.gallery__card--container {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    width: 100%;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    height: 150px;
}

.gallery__card--container:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);
}

.gallery__card--container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.portrait {
    grid-row: span 2;
    height: 300px;
}

.landscape {
    grid-column: span 2;
    height: 150px;
}
