#homepage {
    background-color: var(--background-color);
}

.homepage__landscape__container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 85vh;
}