#teampage {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    min-height: 75vh;
    justify-content: center;
}

.teampage__landscape--container {
    width: 100%;
    height: 85vh;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

.team__landscape--image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    object-position: center;
    opacity: 70%;
}


.homepage__meetTheTeam--container {
    position: relative;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    display: flex;
    margin: 10% auto;
    gap: 2%;
}

.meetTheTeam--title {
    margin: 5% auto;
}

.barber__card--wrapper {
    display: grid;
    grid-template-columns: var(--grid-columns, repeat(4, 1fr));
    justify-content: center;
    gap: 20px;
    align-items: stretch;
}

.barber__card--container {
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2%;
    background-color: var(--accent-color) !important;
    overflow: hidden;
    border-radius: 15px;
}

.barber__card--img {
    width: 100%;
    height: 300px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.barber__card--img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.teampage-styles .barber__card--wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    justify-content: center;
    align-items: stretch;
    max-width: 1200px;
    margin: auto;
}

@media screen and (max-width: 768px) {
    .barber__card--wrapper {
        row-gap: 15px;
        column-gap: 10px;
    }
}