#teampage {
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.teampage__landscape--container {
    position: relative;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}

.team__landscape--image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    object-position: center;
    opacity: 70%;
}

.teampage__meetTheTeam--container {
    position: relative;
    margin: 0 auto;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    display: flex;
    gap: 2%;
}

.meetTheTeam--title {
    margin: 5% auto;
}

.tpbarber__card--wrapper {
    position: relative;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;

    gap: 5%;
    width: 100%;
}

.tpbarber__card--container {
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2%;
    background-color: var(--accent-color) !important;
    overflow: hidden;
    border-radius: 15px;
    transition: width 0.3s ease;
    margin: 0 auto;
}

.tpbarber__card--img {
    width: 100%;
    height: 300px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tpbarber__card--img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    aspect-ratio: 1/1;
}

.tpbarber__card--name {
    text-align: center;
}

.tpbarber__card--desc {
    margin: 5% auto;
}

@media screen and (max-width: 1400px) {
    .tpbarber__card--wrapper {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 1000px) {
    .tpbarber__card--wrapper {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 768px) {
    .tpbarber__card--wrapper {
        grid-template-columns: repeat(1, 1fr);
    }
}
