* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

textarea {
  resize: none;
}

:root {
  --primary-color: #A61010;
  --secondary-color: #000000;
  --accent-color: #6E0D0D;
  --text-color: #F5F5F5;
  --background-color: #2C2C2C;

  --color-h1: #f5f5f5;
  --color-h2: #f5f5f5;
  --color-h3: #f5f5f5;
  --color-h4: #f5f5f5;
  --color-h5: #f5f5f5;
  --color-p: #f5f5f5;

  --font-family-h1: 'Heading 1', sans-serif;
  --font-family-h2: 'Heading 2', sans-serif;
  --font-family-h3: 'Heading 3', sans-serif;
  --font-family-h4: 'Heading 4', sans-serif;
  --font-family-h5: 'Heading 5', sans-serif;
  --font-family-p: 'Paragraph', sans-serif;

  --font-size-h1: 25px;
  --font-size-h2: 70px;
  --font-size-h3: 25px;
  --font-size-h4: 40px;
  --font-size-h5: 25px;
  --font-size-p: 20px;
}

@media (max-width: 768px) {
  :root {
    --font-size-h1: 15px;
    --font-size-h2: 40px;
    --font-size-h3: 15px;
    --font-size-h4: 20px;
    --font-size-h5: 15px;
    --font-size-p: 16px;
  }
}

html, body {
  height: 100%;
  background-color: var(--background-color);
}

main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

li {
  list-style: none;
}

input:focus {
  outline: none;
  border: none;
}

input {
  outline: none;
  border: none;
}

textarea {
  outline: none;
  border: none;
}

@font-face {
  font-family: 'Heading 1';
  src: url('/fonts/PlayfairDisplay-Italic.woff') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Heading 2';
  src: url('/fonts/PlayfairDisplay-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Heading 3';
  src: url('/fonts/PlayfairDisplay-Italic.woff') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Heading 4';
  src: url('/fonts/PlayfairDisplay-Italic.woff') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Paragraph';
  src: url('/fonts/Montserrat-Regular.woff2') format('truetype');
  font-weight: normal;
  font-style: normal;
}

h1 {
  font-family: var(--font-family-h1);
  font-size: var(--font-size-h1);
  color: var(--color-h1);
}

h2 {
  font-family: var(--font-family-h2);
  font-size: var(--font-size-h2);
  color: var(--color-h2);
}

h3 {
  font-family: var(--font-family-h3);
  font-size: var(--font-size-h3);
  color: var(--color-h3);
}

h4 {
  font-family: var(--font-family-h4);
  font-size: var(--font-size-h4);
  color: var(--color-h4);
}

h5 {
  font-family: var(--font-family-h5);
  font-size: var(--font-size-h5);
  color: var(--color-h5);
  line-height: 1.5;
}

p {
  font-family: var(--font-family-p);
  font-size: var(--font-size-p);
  color: var(--color-p);
}
